includes:
    - ./vendor-bin/elbgoods/vendor/nunomaduro/larastan/extension.neon
    - ./vendor-bin/elbgoods/vendor/elbgoods/ci-test-tools/configs/phpstan.neon.dist

parameters:
    paths:
        - ./src
